@charset "UTF-8";

body { font-family: 'Inter', sans-serif; }
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}
.slide.active {
  opacity: 1;
}

/* ===== ANIMAÇÕES BASE ===== */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Fade lateral */
.reveal-left {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.8s ease;
}

.reveal-left.active {
    opacity: 1;
    transform: translateX(0);
}

.reveal-right {
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.8s ease;
}

.reveal-right.active {
    opacity: 1;
    transform: translateX(0);
}

/* Suavidade global */
* {
    scroll-behavior: smooth;
}